tower {
    accessToken = 'eyJ0aWQiOiA5MTA3fS4wYzc5MTI0MjNhNmNhMjczZjVjODcyMjlhYzE5OTg1M2NhODM4NTA5'
    enabled = true
}
dag {
    enabled = true
    overwrite = true
}

docker {
    enabled = false
}
singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = "slurm"
    queue = "short"
    container ="circ-seq12.sif"
    withLabel: "HighMemory" {
        memory = "15 GB"
	cpus = 2
    }
    withLabel: "VeryHighMemory"{
        memory = "30 GB"
        cpus = 2
    }
    withLabel: "LowMemory"{
        memory = "8 GB"
    }
}
